@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body,
html {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: #474550;
}

.container {
  margin: 25px auto;
  width: 100%;
  max-width: 1200px;
}

section {
  scroll-margin-top: 45px;
}

.shadow {
  border-radius: 8px;
  -webkit-box-shadow: 0 0 40px -10px #000;
          box-shadow: 0 0 40px -10px #000;
  padding: 20px 20px 10px 20px;
  width: 80%;
}

.hide {
  display: none;
}

/* navigation */
.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 20px;
  line-height: 20px;
  background-color: #333;
  z-index: 1000;
}

.start {
  width: 100%;
  max-width: 280px;
}

hr {
  margin: 10px -10px;
}

#infoError {
  color: red;
  text-align: center;
}

.bars-icon {
  display: none;
}

.nav-items {
  display: block;
}

.nav-items a {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  padding: 0 9px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.nav-items a:hover {
  color: #55f335;
}

.logo-picture {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

/* header */
.header {
  position: relative;
  height: 250px;
  background-image: url("../img/warsaw_640.jpg");
  background-size: cover;
  background-position: center;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 100;
}

.header-text img {
  height: 100px;
  width: 100px;
  margin-left: 20%;
  text-align: center;
}

.header-text h1 {
  font-size: 1.75rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px #26a80c;
  color: #ddd;
  font-weight: bold;
}

.header-text p {
  font-size: 0.72rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 3, 26, 0.5);
}

main {
  margin: 10px 0px;
}

.section-title {
  margin-bottom: 17px;
  text-transform: uppercase;
  text-align: center;
  color: #55f335;
  letter-spacing: 1px;
}

/* invoice */
.invoice img {
  height: 100%;
  width: 100%;
}

.invoice-info {
  margin-bottom: 15px;
  width: 80%;
  margin-left: 10%;
  text-align: justify;
}

/* whose costs */
.whose-info {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  font-size: 16px;
}

.cost {
  display: block;
  margin-top: 30px;
  color: #fff;
  font-size: 30px;
  color: #55f335;
  text-align: center;
}

.cost-title {
  display: block;
  color: #fff;
  color: #55f335;
  text-align: center;
}

select {
  margin-left: 10px;
  padding: 4px 5px;
  background-color: #474550;
  color: #26a80c;
  font-size: 1rem;
  width: 60%;
  font-weight: 700;
}

.selectEnabled:hover {
  cursor: pointer;
}

.selectDisabled:hover {
  cursor: default;
}

/* lista sortowania */
.sortParam {
  text-align: end;
  font-size: 0.9rem;
  margin: 5px 0px;
}

.sortLabel {
  text-align: center;
  font-size: 1.1rem;
  width: 50%;
  padding-left: 10px;
}

.dateInvoice {
  margin-left: 5px;
  padding: 3px 5px;
  background-color: #474550;
  color: #26a80c;
  font-size: 1.1rem;
  width: 35%;
}

/* lista sortowania */
/* dziennik prac */
.newsName {
  font-size: 1.2rem;
  text-align: start;
  margin-top: 20px;
}

.dateNewscast {
  margin-left: 10px;
  padding: 3px 5px;
  background-color: #474550;
  color: #26a80c;
  font-size: 1.1rem;
  width: 60%;
}

.dateRaport {
  margin-left: 10px;
  padding: 3px 5px;
  background-color: #474550;
  color: #26a80c;
  font-size: 1.1rem;
  width: 72%;
}

.contentNewscast {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  font-size: 1.1rem;
  background-color: #474550;
  color: #55f335;
  overflow-wrap: anywhere;
}

.textareaNews {
  top: 8px;
}

.authorNewscast {
  font-size: 0.9rem;
  position: relative;
  top: 15px;
  left: 6px;
  color: darksalmon;
  z-index: 200;
  width: 90%;
}

.menuNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  position: relative;
  top: -5px;
  right: -80%;
  color: darksalmon;
  width: 20%;
}

.fas {
  margin-left: 13px;
}

.divTextarea {
  display: block;
  height: auto;
}

.rangeRaport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

/* dziennik prac */
/* dropdown */
.dropdown-btn {
  display: block;
  width: 100%;
  height: 100%;
  color: #55f335;
  z-index: 500;
  font-weight: bold;
}

.dropdown h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #55f335;
}

.dropdown-btn i {
  font-size: 2rem;
}

.dropdown-btn p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.dropdown-box {
  margin: 10px;
  text-align: center;
}

.dropdown-box:hover button {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.dropdown-box button {
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.dropdown-btn {
  padding: 5px;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  border: none;
  background-color: #474550;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.dropdown-info {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.dropdown-active {
  display: block;
}

.long-word {
  height: 30px;
  width: 80%;
  margin-left: 10%;
}

.dropdown-note {
  display: inline-block;
  margin-left: 20px;
  color: gray;
}

.info-list {
  width: 170px;
  position: relative;
  left: 60%;
  -webkit-transform: translate(-60%, 0);
          transform: translate(-60%, 0);
}

.info-list p {
  display: flow-root list-item;
  text-align: left;
}

.logging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1px;
}

#logging {
  max-width: 280px;
  margin-left: 10%;
}

.lower {
  margin-top: 5px;
  text-align: center;
}

.lowerNews {
  margin-top: 11px;
  text-align: center;
}

input {
  content: "";
  outline: none;
  color: lime;
  background-color: #474550;
  font-weight: bold;
  padding: 2px 5px;
  width: 125px;
  border: 3px solid;
  border-color: #2a2a2a #9a9a9a #9a9a9a #2a2a2a;
}

.reg-log-btn {
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #474550;
  padding: 2px 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.register-btn,
.save-btn,
.saveNews-btn,
.logout-btn {
  color: yellow;
}

.login-btn,
.cancelNews-btn,
.change-btn {
  color: lime;
}

.normal {
  border: 3px solid;
  border-color: #9a9a9a #2a2a2a #2a2a2a #9a9a9a;
  margin: 3px 10px;
}

/* form */
form h2 {
  margin: 10px 0;
}

form h3 {
  text-transform: none;
}

form input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  text-align: center;
  margin-bottom: 5px;
  color: #4ad393;
}

form input:focus {
  border-bottom: 2px solid #78788c;
}

form p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
}

form button {
  float: right;
  padding: 8px 12px;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid #26a80c;
  background: 0;
  color: #55f335;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0.7px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form div p {
  margin: 0px 5px;
  width: 40%;
}

form div p:first-child {
  width: 60%;
}

form span {
  margin: 0 5px 0 15px;
}

.disableCursor {
  cursor: default;
}

.disableCursor:hover {
  cursor: default;
}

#ask-offer {
  height: 450px;
}

#job {
  height: 460px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputs div {
  text-align: center;
  width: 50%;
}

.inputs:hover {
  cursor: pointer;
}

input[type="file"] {
  position: relative;
  top: -50px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 65px;
  opacity: 0;
  text-align: center;
  border: 2px solid red;
  z-index: 1000;
}

input[type="file"]:hover {
  cursor: pointer;
}

.source {
  display: block;
  width: 100%;
  height: 40px;
  color: #55f335;
  font-weight: bold;
  display: block;
  font-size: 15px;
  color: #55f335;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #474550;
  border: none;
}

.sendMail-btn {
  color: yellow;
}

.sendMail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sendMail-title {
  text-transform: uppercase;
  color: #55f335;
  letter-spacing: 1px;
  text-align: center;
}

/* lista faktur */
.invDiv {
  margin: 4px 0px;
}

.newsDel,
.invDel {
  background-color: #5a0202;
  opacity: 0.5;
}

.newsName,
.invName {
  font-size: 1.2rem;
  text-align: start;
}

.invFile {
  font-size: 1.2rem;
  margin: 5px 0px;
  margin-bottom: 15px;
  text-align: end;
  color: lime;
  overflow: hidden;
}

.invFile a {
  margin-left: 3px;
  text-decoration: none;
  color: lime;
  overflow: hidden;
}

.invCost {
  color: yellow;
  margin-left: 30px;
}

.inputSubmit {
  border: 1px solid wheat;
  font-size: 0.8rem;
  margin: 4px 0px;
  padding: 2px 0px;
  width: 73px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #4ad393;
  text-align: center;
  font-weight: bold;
}

.inputSubmit:hover {
  background-color: #4ad393;
  color: #fff;
  cursor: pointer;
}

.inputNews {
  border: 1px solid wheat;
  font-size: 0.8rem;
  margin: 4px 0px;
  padding: 2px 0px;
  width: 73px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #4ad393;
  text-align: center;
  font-weight: bold;
}

.inputNews:hover {
  background-color: #4ad393;
  color: #fff;
  cursor: pointer;
}

.my-animation {
  -webkit-animation-name: my-animation;
          animation-name: my-animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes my-animation {
  0% {
    background-color: #4ad393;
    color: #fff;
  }
  50% {
    color: #4ad393;
    color: red;
    background-color: #474550;
  }
  100% {
    background-color: #4ad393;
    color: #fff;
  }
}

@keyframes my-animation {
  0% {
    background-color: #4ad393;
    color: #fff;
  }
  50% {
    color: #4ad393;
    color: red;
    background-color: #474550;
  }
  100% {
    background-color: #4ad393;
    color: #fff;
  }
}

.miniMenuNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: #474550;
  position: relative;
  top: -6px;
}

.miniMenuNewsTextare {
  top: 5px;
}

.miniMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.lineListInv {
  border-top: 5px solid white;
  border-radius: 5px;
}

.titleNewCosts {
  font-size: 1.2rem;
  margin-top: 10px;
}

.infoMustMail {
  color: red;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}

.anchorInvoice {
  position: relative;
  top: -50px;
}

/* lista faktur */
/* contact */
.contact h3 {
  color: white;
}

/* job */
.job h3 {
  color: white;
}

/* footer */
.footer {
  background-color: #fff;
  text-align: center;
  padding: 2px 0px;
}

.footer-text {
  font-size: 1rem;
}

.footer-text a {
  color: #474550;
  font-weight: 500;
  text-decoration: none;
}

@media (min-width: 320px) {
  .inputSubmit {
    width: 82px;
  }
}

@media (min-width: 350px) {
  .inputSubmit {
    padding: 4px 6px;
    width: 90px;
  }
  .infoMustMail {
    font-size: 1.08rem;
  }
  .sortParam {
    margin: 5px 5px;
  }
  .nav-items a {
    padding: 0 12px;
  }
  .reg-log-btn {
    letter-spacing: 1px;
    padding: 2px 5px;
    font-size: 1.2rem;
  }
}

@media (min-width: 400px) {
  select {
    padding: 3px 10px;
    width: 175px;
  }
  .dateNewscast {
    padding: 3px 10px;
    width: 175px;
  }
  .inputSubmit {
    width: 100px;
    font-size: 0.9rem;
  }
  .infoMustMail {
    font-size: 1.2rem;
  }
  .titleNewCosts {
    font-size: 1.2rem;
  }
}

@media (min-width: 450px) {
  .infoMustMail {
    font-size: 1.3rem;
  }
  .titleNewCosts {
    font-size: 1.3rem;
  }
  .inputSubmit {
    width: 110px;
    font-size: 1rem;
  }
  .nav-items a {
    padding: 0 15px;
  }
  .dateRaport {
    width: 70%;
  }
}

@media (min-width: 500px) {
  .miniMenu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 600px) {
  .dateRaport {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */